.header {
	color: #8E8E8E;
}
.header .navbar{
	margin-bottom: 0;
	margin-top: 30px;
}
.header .navbar .nav li a:hover, .header .navbar .nav li a:focus, .header .navbar .nav li a:active{
	background-color: transparent;
	color: #fff;
}
.header a {
	color: #8E8E8E;
}
.header .social {
	padding-left: 50px;
}
.header .social a {
	display: block;	
	width: 30px;
	line-height:30px;
	background-color: #8e8e8e;
	color: #000;
	border-radius: 50%;
	float: left;
	margin-right: 12px;
	text-align: center;
	font-size: 16px;
}
@media (max-width:768px){
	.header .navbar {
		margin-top: 0;
	}
	
	.header .social {
		padding-left: 0;
	}
}
@media (min-width:768px){
	.navbar-toggle { 
		float: left;
		margin-left: 30px;
	}
}
.navbar-toggle { 
	border-color: #fff;
	display: block;
}
.navbar-toggle .icon-bar {
	background: #fff;
}	
.navbar-collapse.collapse {
  display: none!important;
}
.navbar-brand img{
	width: 50px;
}